@import url('../src/colors.css');
@import url('../src/fonts.css');


*{
    font-family: 'Inter', 'Sans-Serif';
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--blue-1-color);
}

main{
    margin: auto;
    align-self: center;
    justify-self: center;
    width: 75%;
    height: 85vh;
    padding: 5vh 5vh 0vh 5vh;
}


.option-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    padding: 15px;
    border: 5px solid var(--cian-2-color);
    border-radius: 100%;
}

#options-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40vh;
}

#options-link-container{
    height: 30vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

h2{
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.option-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--cian-2-color);
    font-size: 30px;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 10%; 
    padding: 10px;
    background-color: white;
    transition: all 0.3s;
}

.option-link svg{
    fill: var(--cian-2-color);
}

.option-link:hover {
    color: var(--blue-1-color);
    box-shadow: 10px 10px 0px var(--cian-2-color);
}

.option-link:hover .option-icon, .option-link:hover svg{
    border-color:var(--cian-1-color);
    fill: var(--cian-1-color);
    border-color:var(--blue-1-color);
    fill: var(--blue-1-color);
}


/* 
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #1B0C44;
    overflow: hidden;
}
 */