@import url("../src/fonts.css");
@import url("../src/colors.css");

*{
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
}

main{
    display: flex;
    flex-direction: row;
}

#esquerda{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90vh;
    background-color: var(--blue-1-color);
}

#esquerda a{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#esquerda img{
    width: 90%;
}

#direita{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90vh;
    background-color: var(--blue-2-color);
}

#form-login{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    width: 80%;
}

#form-login h2{
    font-size: 50px;
}

#form-login div{
    width: 60%;
}

#form-login [type=password], #form-login [type=email]{
    width: 100%;
    height: 2em;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    font-size: 25px;
    color: gray;
}

#form-login div h4{
    font-size: 25px;
    font-weight: 400;
}

#form-login div h4 span{
    color: red;
}

#div-entrar{
    display: flex;
    justify-content: center;
}

#entrar{
    font-weight: bold;
    color: black;
    width: 14vw;
    height: 2em;
    font-size: 25px;
    border: none;
    border-radius: 100px;
    background-color: var(--cian-1-color);
    cursor: pointer;
}

#entrar:hover{
    background-color: var(--cian-2-color);
}

#div-options{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.second-option{
    color: white;
}

.second-option:hover{
    color: var(--cian-1-color);
}