@import url('../src/fonts.css');
@import url('../src/colors.css');

*{
    font-family: 'Inter', 'Sans-Serif';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--blue-1-color);
}


h1{
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}

#success{
    color: greenyellow;
}

#unsuccess{
    color: red;
}

#return-login{
    background-color: var(--cian-1-color);
    text-decoration: none;
    font-weight: bold;
    padding: 15px 25px;
    color: black;
    font-size: 25px;
    border: none;
    border-radius: 100px;
    width: 10px;
    cursor: pointer;
    width: 25%;
}

#return-login:hover{
    background-color: var(--cian-2-color);
}