@import url("../src/fonts.css");

*{
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #3937B4;
    padding: 0px 125px 0px 125px;
}

header h1{
    font-weight: 400;
}

#voltar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 10em;
    text-decoration: none;
    color: white;
}

#voltar img{
    height: 75%;
}