@import url('../src/colors.css');

#modal-container{
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden{
    display: none;
}

.show{
    display: flex;
}


#modal{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    position: relative;

}

.show #modal{
    animation: modalAppear 1s;
    
}

#modal h4{
    font-size: 30px;
}

#modal textarea{
   width: 100%;
   height: 25vh;
   margin-top: 5vh;
   font-size: 22px;
   padding: 10px;

}

textarea{
    align-self: center;
}

#btn-close{
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: -20;
    right: -20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--red-1-color);
    border: 4px solid white;
    box-shadow: -1px 4px 4px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#btn-close:hover{
background-color: var(--red-2-color);
}

#btn-ban{
    align-self: center;
    font-weight: bold;
    color: white;
    width: 14vw;
    height: 2em;
    font-size: 25px;
    border: none;
    border-radius: 100px;
    background-color: var(--red-1-color);
    cursor: pointer;
}

#btn-ban:hover{
    background-color: var(--red-2-color);
}

#modal form{
    width: 100vh;
    height: 20vw;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

@keyframes modalAppear{
    from{
        opacity: 0;
        transform:translate3d(0,-30px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}