:root{
    --header-color: #3937B4;
    --blue-1-color: #1B0C44;
    --blue-2-color: #0B1434;
    --cian-1-color: #13BFA0;
    --cian-2-color: #0f8872;
    --red-1-color: #eb3e3e;
    --red-2-color: #b82828;
}